<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chipmunk Dashboard</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="wrapper">
      <nav>
        <h1>Welcome to the Chipmunk Dashboard</h1>
        <ul>
          <li><a href="/chipmunks/new">Add a Chipmunk</a></li>
        </ul>
        <hr>
      </nav>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Favorite Nut</th>
            <th>Hidden Treasure</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% for ( chipmunk of chipmunks ) { %>
            <tr>
              <td><%= chipmunk.name %></td>
              <td><%= chipmunk.age %></td>
              <td><%= chipmunk.favoriteNut %></td>
              <td><%= chipmunk.treasure %></td>
              <td></td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>
